<div class="panel panel-{{status}} gen-form-panel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                Response
                [<a href="#" {{action "responseToggle"}}>{{responseViewText}}</a>]
            </div>
            <div class="col-md-2 text-right">
                <span class="label label-{{status}}">{{statusCode}}</span>
            </div>
        </div>
    </div>
    <div class="panel-body gen-form-panel-body">
      {{#if json}}
          <pre class="prettyprint {{rawClass}}">{{json}}</pre>
      {{/if}}
      {{#if message}}
        <div>{{message}}</div>
      {{/if}}
        <div class="{{prettyClass}}">
          {{#if responseIsObject}}
            <div class="row">
              <div class="col-md-10">
                {{log 'temp log' objectData}}
                {{#object-table data=objectData}}{{/object-table}}
              </div>
              <div class="col-md-2">
                {{#if isGoodStatus}}
                  {{form-actions formActions=objectActions}}
                {{/if}}
              </div>
            </div>
          {{else if responseIsArray}}
              <table class="table table-hover table-striped table-condensed">
                  <thead>
                  <tr>
                    {{#if hasActions}}
                        <th></th>
                    {{/if}}
                    {{#each responseHeaders as |header|}}
                        <th>{{header}}</th>
                    {{/each}}
                  </tr>
                  </thead>
                  <tbody>
                  {{#each responseValues as |item|}}
                      <tr>
                        {{#if hasActions}}
                          <td>
                            <div class="response-actions">
                            {{#if isGoodStatus}}
                              {{form-actions formActions=item.actions}}
                            {{/if}}
                            </div>
                          </td>
                        {{/if}}
                        {{#each item.values key="@index" as |value|}}
                            <td>
                              {{value.text}}
                            </td>
                        {{/each}}
                      </tr>
                  {{/each}}
                  </tbody>
              </table>
          {{/if}}
        </div>
    </div>
</div>