{{#each fields as |field|}}
  {{form-element
    field=field
    formLayout=layout
    onInputChange=(action "formChange")
  }}
{{/each}}
<div>
    <button class="form-input-submit btn {{submitClass}}" {{action "submit"}}>
      {{#if showPopover}}
        {{#bs-popover
          html=true
          triggerEvents=popover.trigger
          visible=popover.visible}}{{{popover.body}}}
        {{/bs-popover}}
      {{/if}}
      {{submitText}}</button>
</div>