<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <div class="navbar-header">
              {{#link-to nav.name class="navbar-brand"}}
                {{nav.display}}
              {{/link-to}}
            </div>
            <ul class="nav navbar-nav">
              {{#bs-dropdown tagName="li" closeOnMenuClick=false}}
                {{#bs-dropdown-toggle}}
                    Settings <span class="caret"></span>
                {{/bs-dropdown-toggle}}
                {{#bs-dropdown-menu classNames="dont-close"}}
                    <li>
                        <form class="form dropdown-form">
                          {{#each fields as |field|}}
                            {{form-element
                              field=field
                              displayClass=""
                              inputClass=""
                            }}
                          {{/each}}
                          <button type="button"
                                  class="btn btn-primary btn-xs" {{action "settingsSave"}}>Save
                          </button>
                          {{#link-to "config"}}
                          <button type="button"
                                  class="btn btn-default btn-xs pull-right" {{action "settingsSave"}}>Go To Config
                          </button>
                          {{/link-to}}
                        </form>
                    </li>
                {{/bs-dropdown-menu}}
              {{/bs-dropdown}}
                <p class="navbar-text">{{settingsQuickView}}</p>
            </ul>
            {{#if showAuth}}
            <ul class="nav navbar-nav navbar-right">
              {{#bs-dropdown tagName="li" closeOnMenuClick=false}}
                {{#bs-dropdown-toggle}}
                  {{loginMessage}}
                {{/bs-dropdown-toggle}}
                {{#bs-dropdown-menu classNames="dont-close"}}
                    <li>
                        <form class="form dropdown-form">
                            <div class="{{logoutHidden}}">
                              {{token}}
                                <button type="button"
                                        class="btn btn-default btn-xs" {{action "logout"}}>Logout
                                </button>
                            </div>
                            <div class="{{loginHidden}}">
                              <a href="{{oauth2Link}}">Login With TicketFly</a>
                            </div>
                        </form>
                        <div class="bg-danger login-error">
                          {{loginError}}
                        </div>

                    </li>
                {{/bs-dropdown-menu}}
              {{/bs-dropdown}}
            </ul>
            {{/if}}
        </div>
    </div>
</nav>
