
<div class="panel-body">
  <div class="panel panel-default">
    <div class="panel-heading">HTTP Config</div>
    <div class="panel-body">
      {{#form-input
        fields=configFields
        submit=submit
        layout=default
        popover=httpPopover
        onSubmit=(action "saveConfigUrl")
      }}
      {{/form-input}}
    </div>
  </div>
</div>

<div class="panel-body">
  <div class="panel panel-default">
    <div class="panel-heading">GitHub Config</div>
    <div class="panel-body">
      <p class="text-right">
        <a href="#" {{action "switchGithubType"}}>{{githubSwitchText}}</a>
      </p>
      {{#if githubPrivate}}
        {{#form-input
          fields=githubPrivateFields
          submit=submit
          layout=default
          popover=githubPopover
          onSubmit=(action "saveGithubUrl")
        }}
        {{/form-input}}
      {{else}}
        {{#form-input
          fields=githubPublicFields
          submit=submit
          layout=default
          popover=githubPopover
          onSubmit=(action "saveGithubUrl")
        }}
        {{/form-input}}
      {{/if}}
    </div>
  </div>
</div>
<div class="panel-body">
  <div class="panel panel-default">
    <div class="panel-heading">Config Management</div>
    <div class="panel-body">
      <button class="form-input-submit btn btn-primary btn-sm" {{action "clearConfig"}}>Clear Config</button>
      <button class="form-input-submit btn btn-primary btn-sm" {{action "refresh"}}>Refresh</button>
    </div>
  </div>
</div>
{{modelFunc}}


{{!--
<div class="panel-body">
  <div class="panel panel-default">
    <div class="panel-heading">Eddy condensed config</div>
    <div class="panel-body">
      <div class="row form-group">
        <div class="col-md-12">
          {{json-editor
          json=config.condensed
          disabled=false
          mode='code'
          name='root'
          onError=(action 'jsonError')
          onEditable=(action 'editable')
          onChange=(action 'change')
          }}
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <button class="btn btn-default btn-sm" {{action 'loadDefault'}}>Load Default</button>
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-primary btn-sm text" {{action 'load'}}>Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
--}}